.idea/
*.pyc
._*
*.DS_Store

# Object files
*.o
*.ko
*.obj
*.elf
.dep
build

# XML
*.xml

# Precompiled Headers
*.gch
*.ch

# Precompiled Headers
*.gch
*.pch

# Libraries
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Wiki
*wiki

*~
server/log
